replicaCount: 2

image:
  repository: docker.io/imroc/podcidr-controller
  tag: ""
  pullPolicy: IfNotPresent

clusterCIDR: "10.244.0.0/16"
nodeCIDRMaskSize: 24

leaderElection:
  enabled: true
  leaseDuration: 15s
  renewDeadline: 10s
  retryPeriod: 2s

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

nodeSelector: {}
tolerations:
  - key: node-role.kubernetes.io/control-plane
    operator: Exists
    effect: NoSchedule
affinity: {}

serviceAccount:
  create: true
  name: ""
